/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	body {
		background-image: url('../bg-main-mobile.png');
	}

	.pattern-1 {
		display: none;
	}

	.premium-eq {
		background: #fa7453;
		position: absolute;
		left: 0;
	}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	body {
		background-image: url('../bg-main-tablet.png');
		width: 768px;
		height: 1781px;
	}

	.pattern-1 {
		position: absolute;
		width: 266.67px;
		height: 400px;
		left: 537px;
		top: -32px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	body {
		background-image: url('../bg-main-desktop.png');
		width: 1440px;
		height: 1832px;
	}
}

@media (min-width: 1281px) {
	body {
		background-image: url('../bg-main-desktop.png');
		width: 1440px;
		height: 1832px;
	}
}

.ios-icon:hover {
	background: #66e2dc;
}

.android-icon:hover {
	background: #ffb964;
}

.footer-icons:hover {
	color: #ffb964;
}

.main-card {
	background: #191826;
	height: 600px;
}

.premium-eq {
	background: #fa7453;
}

.system-audio {
	width: 1015px;
	height: 176px;
}

.pattern-1 {
	position: absolute;
	width: 312px;
	height: 468px;
	left: 1128px;
	top: -40px;
}

.icons {
	color: #191826;
}
