.card-button {
	background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
	border-radius: 15px;
}

.gradient-text {
	color: #f74780;
}

.card-icons {
	width: 22.57px;
	height: 24px;
}

footer {
	background-color: rgb(19, 24, 63);
	height: 120px;
}

.footer-button {
	background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
	border-radius: 28px;
}

@media only screen and (max-width: 1026px) {
	#fadeshow1 {
		display: none;
	}
}

body {
	background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.main-button:hover {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.nav-button:hover {
	background: #666ca3;
}

.footer-button:hover {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
